{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
    <h1>Answer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Correct</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.text }}</td>
                <td>{{ answer.correct ? 'Yes' : 'No' }}</td>
                <td>
                    <form action="{{ path('answer_show', {'id': answer.id}) }}">
                        <button class="btn btn-primary" type="submit"><i class="far fa-eye"></i>     Afficher</button>
                    </form>
                    <form action="{{ path('answer_edit', {'id': answer.id}) }}">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-pencil-square-o"></i>     Modifier</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="{{ path('answer_new') }}">
        <button class="btn btn-primary" type="submit"><i class="far fa-plus-square"></i>     Créer une nouvelle réponse</button>
    </form>
{% endblock %}
